<div class="containerSign">

    <h1>Free-Trial Sign Up</h1>
    <h2>Get started and experience Conneqt today.</h2>
<!-- <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">-->
    <form>
        <input type="text" placeholder="Company Name" >
        <input type="text" placeholder="Segmnt">
        <input type="number" placeholder="Number of Users*"><p>*How many devices would have Conneqt installed.</p>
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Telephone">
        <input type="password" placeholder="Password">
        <button type="submit" class="btn btnSign"> Sign Up For A Free Trial</button>
    </form>

</div>