<main >
    <article class="primarycontent ">
        <div class="containterMain d-flex">
        <div class="firstPart d-flex  align-items-center">
            <div class="text">
                    <h3>Making distances a meaningless thing.</h3>
                    <h2>we are <span class="red">conneqt</span></h2>                   
                    <button type="button" class="btn btnHome">Sign Up For A Free Trial</button>
                    <button type="button" class="btn btnHomeLogin">Login</button>
            </div>
        </div>
        <div class="secondPart">
           <img src="../../../assets/img/content_one.jpg" all="Home Office">
      </div> 
    </div>
      </article>

      <article class="containterMain secondaryContent d-flex">

          <div class="monitor">
                <img src="../../../assets/img/content_two.jpg" all="monitor">
          </div>

        <div class="menuList">
            <h2>Your team always connected</h2>
            <nav>
                <ul>
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>One on one and group meetings</li>        
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Record Meetings</li>
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Screen share</li>                    
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Share control over screens</li>                    
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Schedule and send reminders</li>
                </ul>
            </nav>
        </div>
      </article>
      <article>
          <div class="containerTrial">
                <h2>Get a free trial</h2>
                <h3>See how Conneqt can solve your communication needs.
                    Start a trial now.</h3>
                <button type="button" class="btn btnHome">Sign Up For A Free Trial</button>
        </div>
      </article>
</main>
