
  .primarycontent{
  background-color: #f2f1ee;

  }

.firstPart{
  width: 50%;
 
  padding:  0 2%;
  h3{
    font-size: 1.5em;
  }
  h2{
    font-size: 5em;
    font-weight: 700;
  }
  .btnHomeLogin{
    display: none;
  }
  .btnHome{
    background-color: var(--cor-primary);
    border-radius: 20px;
    color:#fff;
    margin-right: 45px;
    font-weight: 500;
    margin-top:30px;
  }
}
.secondPart{
  width: 50%;
  height: 500px;
  img{
    float: right;
    height: 100%;
  }
}
.monitor{
  width: 50%;
  height: 500px;
  img{
    float:left;
    height: 100%;
  }
}

.menuList{
  width: 50%;
  margin-top:100px;
  margin-left: 110px;

  .chackIcon{
    color: var(--cor-primary);
    margin-right: 20px;
  }
  ul{
    margin-top: 20px;
  }
  li{
  list-style-type: none;
  font-size: 1.6em;
  font-weight: 400;
  margin-left: -30px;  
  }
}
.containerTrial{
  background-color: #f2f1ee;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  h2{
    font-size:4em;
  }
  h3{
   // width:700px;
    font-size:1.8em
  }
  .btnHome{
    background-color: var(--cor-primary);
    border-radius: 20px;
    color:#fff;
    margin-right: 45px;
    font-weight: 500;
    margin-top:30px;
  }
}
.containerPhone{
  display:flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin: 40px 0 10px 0;
  }
  h3{
    margin:30px 0;
    font-size: 1.2em;
  }
  h4{
    margin: 30px 0;
  }
  .boxPhone{
    border: 1px rgb(37, 37, 37) solid;
    height: 60px;
    display:flex;
    align-items: center;

    padding:20px 30px!important;
    width: 1000px;
  }
  .p-2{
    margin-top: 10px; 
  }
}
