    <div class="primarycontent ">
        <div class="containterMain d-flex">
        <div class="firstPart d-flex  align-items-center">
            <div class="text">
                    <h3>Making distances a meaningless thing.</h3>
                    <h2>we are <span class="red">conneqt</span></h2>                   
                    <button type="button" class="btn btnHome" routerLink="sign">Sign Up For A Free Trial</button>
                     <button type="button" class="btn btnHomeLogin"  routerLink="login">Login</button>
               </div>
        </div>
            <div class="secondPart">
                    <img src="../../../assets/img/content_one.jpg" all="Home Office">
             </div> 
    </div>
      </div>

      <div class="containterMain secondaryContent d-flex">

          <div class="monitor">
                <img src="../../../assets/img/content_two.jpg" all="monitor">
          </div>

        <div class="menuList">
            <h2>Your team always connected</h2>
            <nav>
                <ul>
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>One on one and group meetings</li>        
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Record Meetings</li>
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Screen share</li>                    
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Share control over screens</li>                    
                    <li><mat-icon class="chackIcon">check_circle</mat-icon>Schedule and send reminders</li>
                </ul>
            </nav>
        </div>
      </div>
      <div>
          <div class="containerTrial">
                <h2>Get a free trial</h2>
                <h3>See how Conneqt can solve your communication needs.
                    Start a trial now.</h3>
                <button type="button" class="btn btnHome btnTrial" routerLink="sign">Sign Up For A Free Trial</button>
        </div>
      </div>

    <div class="containerPhone">
        <h2>Or purchase a license</h2>
        <h3>Contact your local reseller to request a license trial or purchase Conneqt</h3>
        <h4>Global Reseller</h4>
        <div class="phoneGlobal boxPhone bd-highlight containterMain">
            <p class="p-2 flex-grow-1 bd-highlight textPhone">John Appleseed - Authorized Reseller</p>
           <p class="p-2 bd-highlight red " ><span class="textPhone2">Company Website</span><span class="material-icons">
            launch
            </span></p> 
            <p class="p-2 bd-highlight textPhone2 textPhone2"><span class="material-icons">
                local_phone
                </span>469-844-8261</p>
        </div>
        <h4>Brasil</h4>
        <div class="phoneGlobal boxPhone bd-highlight containterMain">
            <p class="p-2 flex-grow-1 bd-highlight textPhone">Ultratech Revendedora</p>
           <p class="p-2 bd-highlight red" ><span class="textPhone2">Company Website</span><span class="material-icons">
            launch
            </span></p> 
            <p class="p-2 bd-highlight textPhone2"><span class="material-icons">
                local_phone
                </span>469-844-8261</p>
        </div>
        <div class="phoneGlobal boxPhone bd-highlight containterMain">
            <p class="p-2 flex-grow-1 bd-highlight textPhone">BlueFin</p>
           <p class="p-2 bd-highlight red" ><span class="textPhone2">Company Website</span><span class="material-icons">
            launch
            </span></p> 
            <p class="p-2 bd-highlight textPhone2"><span class="material-icons">
                local_phone
                </span>469-844-8261</p>
        </div>
        <div class="phoneGlobal boxPhone bd-highlight containterMain">
            <p class="p-2 flex-grow-1 bd-highlight textPhone">Gold Comm Sistemas</p>
           <p class="p-2 bd-highlight red" ><span class="textPhone2"><span class="textPhone2">Company Website</span></span><span class="material-icons">
            launch
            </span></p> 
            <p class="p-2 bd-highlight textPhone2"><span class="material-icons">
                local_phone
                </span >469-844-8261</p>
        </div>
        <div class="phoneGlobal boxPhone bd-highlight containterMain">
            <p class="p-2 flex-grow-1 bd-highlight textPhone">Centraltek</p>
           <p class="p-2 bd-highlight red" ><span class="textPhone2">Company Website</span><span class="material-icons">
            launch
            </span></p> 
            <p class="p-2 bd-highlight textPhone2"><span class="material-icons">
                local_phone
                </span>469-844-8261</p>
        </div>
    </div>    

