@media screen and (max-width: 420px) {
  .firstPart{    
    justify-content: center;
    text-align: center!important;
    h3{
      font-size: 0.9em!important;
    }
    h2{
      font-size: 2em!important;
    }
    .btnHomeLogin{
      margin: 0 auto;      
    }
  }
  .text button{
    margin-left: 30px;
  }
  .monitor{
    display: none!important
  }
  .menuList{
    h2{
      font-size:1.2em;
    }
    .chackIcon{
      font-size: 1em;
      margin:5px;
    }
    ul{
      margin-top: 20px;
    }
    li{
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 400;
    margin-left: -30px;    
    }
  }
}
@media screen and (max-width: 1000px) {

  .containterMain{
    flex-direction:column-reverse;
    width: 100%!important;
  }
  .firstPart{
    justify-content: center;
    width: 100% ; 
    text-align: center;
    margin-top: 30px;
    h3{
      font-size: 1.2em;
    }
    h2{
      font-size: 3em;
      margin-bottom: 30px;      
    }
    .btnHome{
      margin: 0 auto!important;
    }
    .btnHomeLogin{
      display: block;    
      margin: 30px auto;  
      width: 200px;
      border: 1px var(--cor-primary) solid;
      border-radius: 20px; 
      color:var(--cor-primary);
      font-weight: 700;
    }

  }
  .secondPart{
    width:100%;
    height: 100%;
    img{
      width: 100%;
    }
  }
  .monitor{
    display: none!important
  }
}
@media screen and (max-width: 1280px) {
  .containterMain{
    width: 100%!important;
  }
  .firstPart{     
    h3{
      font-size: 1.2em!important;
    }
    h2{
      font-size: 3.8em!important;
    }
  }
}
@media screen and (max-width: 1128px) {
  .containterMain{
    width: 100%!important;
  }
  .firstPart{     
    h3{
      font-size: 1.2em!important;
    }
    h2{
      font-size: 3.2em!important;
    }
  }
}
@media screen and (max-width: 1065px) {
  .primarycontent{
    width: 100%!important;
  }
  .firstPart{     
    h3{
      font-size: 1em!important;
    }
    h2{
      font-size: 2.5em!important;
    }
  }
  .monitor{
    display: none!important

  }
  .menuList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
    margin:50px auto;  
  }
}