<main >
    <article class="containterMain primarycontent d-flex">
        <div class="firstPart d-flex  align-items-center">
            <div class="text">
                    <h3>Making distances a meaningless thing.</h3>
                    <h2>we are <span class="red">conneqt</span></h2>                   
                    <button type="button" class="btn btnHome">Sign Up For A Free Trial</button>
                    <button type="button" class="btn btnHomeLogin">Login</button>
            </div>
        </div>
        <div class="secondPart">
           <img src="../../../assets/img/content_one.jpg">
      </div> 
      </article>
</main>
