<footer>
  <div class="containterMain containerFooter d-flex justify-content-between">
    
    <div class="logo">
          <div class="d-flex logoCenter">
              <img src="../../../assets/img/logoFooter.png">
              <h1>Conneqt</h1>
          </div>
          <div class="descriptionFooter">
          <p>Duis autem vel eum iriure dolor in
            hendrerit in vulputate velit esse
            molestie consequat, vel illum
            dolore eu feugiat nulla facilisis</p>
          </div>
      </div>
      
      <div class="navFooter d-flex justify-content-evenly justifyText">
     
        <div class="importantLink">
            <h2>Important Links</h2>
            <nav>
              <ul class="menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Support</a></li>              
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Products</a></li>
                <li><a href="#">Payment Methods</a></li>
            </ul>
            </nav>          
          </div>

          <div class="usefullinks ">
            <h2>Useful Links</h2>
            <nav>
              <ul class="menu">
                <li><a href="#">Cases</a></li>
                <li><a href="#">White Papers</a></li>              
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            </nav>            
          </div>

      </div>

      <div class="contat justifyText">

        <h3>Get in Touch</h3>
        <h4>Email: contact@conneqt.com</h4>
        <h5>Phone: 469-844-8261</h5>

      </div>

  </div>
</footer>

