<header>
  <div class="containterMain containerHeader d-flex justify-content-between align-items-center">

      <div class=" logoCenter d-flex">
         <a routerLink="/"><img src="../../../assets/logo.png"></a>
         <a routerLink="/"> <h1>Conneqt</h1></a>
     </div>

      <div class="headerButton">
       <button type="button" class="btn btnSign" routerLink="sign"> Sign Up For A Free Trial</button>
        <button type="button" class="btn btnLogin"  routerLink="login">Login</button>
      </div>
  </div>
</header>