/* You can add global styles to this file, and also import other style files */
:root{
  --cor-primary:#fd4d46
}
.red{
  color: var(--cor-primary);
}
.containterMain{
  width:1300px;
  margin:0 auto;

}